.box {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main_box {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    background-color: var(--color-app); /* Utilisation de la variable pour le fond */
    box-shadow: var(--color-box-shadow); /* Utilisation de la variable pour l'ombre */
    padding: 2%;
    box-sizing: border-box;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title_box {
    margin-left: 2.5%;
    margin-bottom: 5%;
    font-size: 4vh;
    color: var(--color-text-mode); /* Utilisation de la variable pour la couleur du texte */
}

.categories {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5%;
}

.categories .movies,
.categories .television_programme {
    margin-right: 5%;
    height: 3vh;
    width: 15vw;
    font-size: 1.5vh;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-btn); /* Utilisation de la variable pour les boutons */
    color: var(--color-text); /* Utilisation de la variable pour le texte */
    cursor: pointer;
}

.categories .movies:hover,
.categories .television_programme:hover {
    background-color: var(--color-btn-hover); /* Utilisation de la variable pour l'effet hover */
}

.inside_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 81%;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    box-shadow: var(--color-box-shadow); /* Utilisation de la variable pour l'ombre */
    background-color: var(--color-inside-box); /* Utilisation de la variable pour le fond de la boîte */
    color: var(--color-text-mode); /* Utilisation de la variable pour le texte */
    border: 0.5px solid var(--color-border); /* Utilisation de la variable pour la bordure */
    padding: 2%;
    box-sizing: border-box;
}
