

.Connect {
    height: 100vh;
}

.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Form .Title {
    font-size: 40px;
    color: var(--color-text);
}

.Form .TitleLog {
    font-size: 30px;
    padding-top: 15px;
    color: var(--color-text);
}

.Form .OneClick {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color : var(--color-text);
}

.Form .or {
    font-size: 20px;
    color : var(--color-text);
    margin-bottom: 5px;
}

.TextDanger {
    color: rgb(161, 8, 8);
}

.Form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--color-inside-box);
    color: var(--color-input);
    border: none;
    margin-top: 10px;
}

.comment {
    display: none;
}

.mb3 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.Form .BtnDefault {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
}

.Form .BtnDefault:active {
    filter: brightness(0.8);
    transform: scale(0.95);
}

.Form .btnLogInSuccess {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 40px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #ffc416;
}

.Form .btnLogInSuccess:active {
    background-color: #ffc416;
    filter: brightness(0.8);
    transform: scale(0.9);
}

.Form {
    background-color: var(--color-about);
    border: 0.5px solid var(--color-border);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 15px;
}

@media screen and (max-width: 800px) {
    .Form {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 5px;
    }

    .Form .or {
        display: none;
    }

    .Form .Title {
        font-size: 30px;
    }

    .Form .TitleLog {
        font-size: 20px;
        padding-top: 10px;
    }

    .Form .OneClick {
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .Form .comment {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
