.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main_box {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 450px;
    width: 100%;
    background-color: var(--color-app);
    box-shadow: var(--color-box-shadow);
    padding: 2%;
    box-sizing: border-box;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ajouté pour aligner verticalement */
    width: 100%;
    padding: 0 2%; /* Ajout d'un padding horizontal pour l'espacement */
}

.title_box {
    margin-left: 2.5%;
    margin-bottom: 5%;
    font-size: 4vh;
    color: var(--color-text-mode);
}

.categories {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5%;
    position: relative;
    width: auto; /* Assurez-vous que la largeur est appropriée */
}

.category_button {
    height: 3vh;
    width: auto; /* Changez à auto pour éviter le débordement */
    padding: 0 10px; /* Ajoutez du padding au lieu d'une largeur fixe */
    font-size: 1.5vh;
    border-radius: 50px;
    border: none;
    background-color: var(--color-btn);
    color: var(--color-text);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.category_button:hover {
    background-color: var(--color-btn-hover);
}

/* Menu déroulant pour les catégories */
.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0; /* Ajustez si nécessaire pour s'assurer qu'il ne déborde pas */
    background-color: var(--color-inside-box);
    box-shadow: var(--color-box-shadow);
    border-radius: 10px;
    z-index: 10;
    width: 120px; /* Assurez-vous que cela est approprié pour votre mise en page */
}

.dropdown button {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    background-color: var(--color-btn);
    color: var(--color-text);
    cursor: pointer;
}

.dropdown button:hover {
    background-color: var(--color-btn-hover);
}

.inside_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 81%;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    box-shadow: var(--color-box-shadow);
    background-color: var(--color-inside-box);
    color: var(--color-text-mode);
    /* border: 0.5px solid var(--color-border); */
    padding: 2%;
    box-sizing: border-box;
    overflow-x: hidden;
    scrollbar-width: none; /* Pour Firefox */
}

.movie_list {
    display: flex;
    gap: 1rem;
    overflow-x: auto; /* Scroll horizontal pour les films */
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.movie_list::-webkit-scrollbar {
    display: none;
}

.movie_item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-overflow: ellipsis;
    min-width: 150px; /* Taille minimale pour l'image */
    max-width: 150px; /* Empêcher l'agrandissement excessif */
    text-align: center;
}

.movie_item img {
    width: 100%;
    height: auto; /* Respecter le ratio de l'image */
    max-height: 200px; /* Limiter la hauteur de l'image */
    border-radius: 10px; /* Arrondi pour l'image */
}

.movie_item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.movie_title {
    display: none;
    margin-top: 10px;
    width: 10ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 875px) {
    .categories .today,
    .categories .this_week {
        display: none; /* Masquer les boutons Movies et Series */
    }
}
