.Wallpaper {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
}

.image {
    width: 100vw;
    filter: brightness(1);
}

.blurblock {
    top: 15%;
    left: -20vw;
    width: 140vw;
    height: 110%;
    position: absolute;
    background: linear-gradient(to top, var(--color-app) 55%, var(--color-app) 60%, transparent 95%, transparent 100%);
}

@media screen and (max-width: 900px) {
    .blurblock {
        height: 200%;
        width: 100vw;
        left: 0vw;
    }
}