
.home {
    display: flex;
    height: 100%;
    flex-direction: column;
    perspective: 1000px;
    margin-top: 8vh;
    padding: 0px 5vw 0px 5vw;

}

.wrap_box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

.left_box{
    width: 40%;
    margin-right: 5px;
}

.right_box{
    width: 60%;
}

.popular_box {
    margin-top: 5px;
}

.Latest_Release_box {
    margin-top : 5px;
}

.mobile {
    display: none;
}

@media  screen and (max-width: 875px) {

.home {
    margin-top: 0;
    padding: 0px 0px 0px 0px;
}

.wrap_box {
    flex-direction: column;
}

.left_box {
    display: none;
}

.right_box {
    flex: 1 0 auto;
    width: calc(100% - 2%);
    margin: 1%;
}

.mobile {
    display: flex;
    flex: 1 0 auto;
    margin : 1% 1% 1% 1%;
}


}
