@import "../../vars.css";

.New_Release_nav {
    padding: 5px 5vb 0px 5vw;
    width: 100%;
    height: 100%;
    transition: 0.25s ease-in-out;
    background-color: var(--color-app);
    position: relative;
}

.New_Release_page {
    padding-top: 10vh;
    width: 100vh;
    height: 100vh;
    transition: 0.25s ease-in-out;
    background-color: var(--color-app);
    color: var(--color-text);
}

.header {
    height: 20vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    text-wrap: nowrap;
    margin-bottom: 5px;
    background-color: red;

}
.searchContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    margin-bottom: 8vh;
    padding: 10px;
    /* border: 5px solid var(--color-text); */
    border-radius: 10px;
    background-color: #10161d;
    height: 90px;
}

.searchInput {
    flex: 1;
    padding: 10px;
    font-size: 25px;
    border: none;
    outline: none;
    background: transparent;
    color: #888b8e;
    opacity: 1;
    pointer-events: auto;
}

.searchButton {
    padding: 10px 40px;
    margin-right: 7px;
    font-size: 25px;
    background-color: #545f6ed7;
    color: #c6c8cd;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: none;
}

.searchButton:hover {
    filter: hue-rotate(30deg);
}

.searchButton:active {
    filter: brightness(0.8) hue-rotate(30deg);
    transform: scale(0.9);
}