.box {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main_box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--color-app);
    box-shadow: var(--color-box-shadow);
    padding: 2%;
    box-sizing: border-box;
    position: relative;
}

.title_box {
    margin-top: 0.5%;
    margin-left: 2.5%;
    margin-bottom: 5%;
    font-size: 4vh;
    color: var(--color-text-mode);
}

.categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 1%;
}

.categories .movies,
.categories .series {
    margin-left: 2%;
    height: 3vh;
    width: 8vw;
    font-size: 1.5vh;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-btn);
    color: var(--color-text);
    cursor: pointer;
}

.categories .movies:hover,
.categories .series:hover {
    background-color: var(--color-btn-hover);
}

.inside_box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: var(--color-box-shadow);
    background-color: var(--color-inside-box);
    color: var(--color-text-mode);
    padding: 2%;
    box-sizing: border-box;
}

.movie_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; /* Augmente la taille de l'affiche */
    height: 100%; /* La hauteur prend tout l'espace disponible */
    text-align: center;
    border-radius: 10px;
    background-color: var(--color-box-item);
}

.movie_title {
    margin-top: 10px;
    font-size: 1.5rem;
}

.release_date {
    font-size: 1.5rem;
    margin-top: 5px;
    color: var(--color-text-secondary);
}

.movie_item img {
    width: 90%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
}

.carousel_controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 2%;
}

.carousel_button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    transition: color 0.3s ease;
}

.carousel_button:hover {
    color: var(--color-btn-hover);
}

