.toggle-container {
  display: flex; /* Utilisez flexbox pour centrer le bouton */
  align-items: center; /* Centre verticalement */
}

.toggle-button {
  font-size: 0.8em;
  cursor: pointer;
  color: var(--color-text);
  border: none;
  margin-top: 1vh;
  border-radius: 5px;
  padding: 4px 40px; /* Ajoutez du padding pour un meilleur aspect */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Ajoutez une transition pour l'animation */
  z-index: 3;
}

.toggle-button:hover {
  background-color: var(--color-btn-hover);
}

/* Styles pour le mode clair */
.toggle-button.light {
  background-color: var(--color-inside-box);
  color: var(--color-text); /* Couleur du texte en mode clair */
}

/* Styles pour le mode sombre */
.toggle-button.dark {
  background-color: var(--color-inside-box); /* Couleur de fond en mode sombre */
  color: var(--color-text) /* Couleur du texte en mode sombre */
}

@media screen and (max-width: 1000px) {
  .toggle-container {
    position: absolute;
    top: 3em;
    transform: scale(1.1);
    right: 1em;
  }
}
