@import "../../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    padding: 0 5%;
    text-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 5px;
    border-radius: 20px;
    background-color: var(--color-bg);
}

.logo {
    height: 70px;
    width: 56px;
    text-decoration: none;
}

.menu {
    padding-top: 0px;
    display: flex;
    flex: auto;
    padding-left: 5px;
}

.menuItems {
    padding-left: 10px;
    display: flex;
    gap: 1vw;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
}

.menuItems a {
    position: relative;
    font-size: 18px;
    color: var(--color-text);
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 5px;
    padding-bottom: 10px;
    text-decoration: none;
    align-items: center;
}

.menuItems li a::after {
    content: '';
    height: 5px;
    width: 0%;
    background: var(--color-primary);
    position: absolute;
    left: 50%;
    bottom: 0px;
    transition: 0.5s;
    z-index: -1;
}

.menuItems li a:hover::after {
    left: 0%;
    width: 100%;
    background: var(--color-text);
}

.menuItems li a::before {
    content: '';
    height: 0%;
    width: 100%;
    background: var(--color-secondary);
    position: absolute;
    left: 0%;
    bottom: 50%;
    transition: 0.5s;
    z-index: -2;
}

.menuItems li a:hover::before {
    height: 100%;
    left: 0%;
    bottom: 0%;
    width: 100%;
    background: var(--color-primary);
}

.account_PC {
    position: relative;
    font-size: 18px;
    color: var(--color-text);
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    float: right;
    margin-left: auto;
}

.account_PC::after {
    content: '';
    height: 5px;
    width: 0%;
    background: var(--color-primary);
    position: absolute;
    left: 50%;
    bottom: 0px;
    transition: 0.5s;
    z-index: -1;
}

.account_PC:hover::after {
    left: 0%;
    width: 100%;
    background: var(--color-text);
}

.account_PC::before {
    content: '';
    height: 0%;
    width: 100%;
    background: var(--color-secondary);
    position: absolute;
    left: 0%;
    bottom: 50%;
    transition: 0.5s;
    z-index: -2;
}

.account_PC:hover::before {
    height: 100%;
    left: 0%;
    bottom: 0%;
    width: 100%;
    background: var(--color-primary);
}

.account_MB {
    display: none;
}

.menuBtn {
    display: none;
}

@media screen and (max-width: 1000px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        position: absolute;
        top: auto;
        right: 0;
        height: 100%;
        width: 40px;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 5%;
    }

    .menuBtn {
        position: absolute;
        display: block;
        cursor: pointer;
        top: 50%; /* Center vertically */
        transform: translateY(-50%);
    }

    .logo {
        top: auto;
        height: 50px;
        width: 40px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: var(--color-secondary);
        padding: 24px 33px;
        box-shadow: var(--color-shadow);
    }

    .menuOpen {
        position: absolute;
        margin-top: 60px;
        display: flex;
        z-index: 1;
    }

    .account_PC {
        display: none;
    }

    .account_MB {
        display: block;
        color: var(--color-text);
    }

}