.providers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
}

.provider {
    flex-direction: row;
}

.provider img {
    border-radius: 50px;
    margin-right: 0.5vw;
}

.provider img:hover {
    cursor: pointer;
}