.Wallpaper {
    display: flex;
    width: 100%;
    position: absolute;
}

.image {
    width: 100vw;
    filter: brightness(0.5);
    transition: background-color 0.25s ease-in-out;
}

.blurblock {
    top: 30vh;
    left: -20vw;
    width: 140vw;
    height: 110vh;
    position: absolute;
    background: linear-gradient(to top, var(--color-app) 45%, var(--color-app) 52%, transparent 55%, transparent 100%);
    transition: background-color 0.25s ease-in-out;
}

@media screen and (max-width: 875px) {
    .Wallpaper {
        margin-bottom: 150px;
        overflow-y: hidden;
    }

    .blurblock {
        background: linear-gradient(to top, var(--color-app) 80%, var(--color-app) 85%, transparent 100%, transparent 100%);
        top: 25vh;
    }
}