.Wallpaper {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
}

.image {
    width: 100vw;
    filter: brightness(0.5);
}

.blurblock {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: linear-gradient(to top, var(--color-app) 47%, var(--color-app) 45%, transparent 100%, transparent 100%);
}
