.settingsPage {
    display: flex;
    width: 100%;
    background-color: var(--color-app); /* Ajuster avec votre thème */
    color: var(--text-color);
    min-height: 100vh; /* Pour couvrir tout l'écran */
    margin-top: 8vh;
}

.settings {
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: var(--color-app);
}

.navs_settings {
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: var(--color-app);/* Taille de la sidebar */
    border-right: 1px solid var(--line-break);; /* Séparation avec le contenu */
    padding: 10px;
}

.categories_settings {
    list-style: none;
    padding-left: 0;
}

.categories_settings li {
    margin: 15px 0;
    color: var(--color-text);
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.categories_settings li:hover {
    background-color: var(--color-inside-box); /* Couleur au survol */
}

.categories_settings li.active {
    background-color: (--nav-bar); /* Couleur jaune active */
    /* color: #000; */
}

.content_area {
    flex: 1;
    padding: 20px;
    background-color: var(--color-app); /* Couleur de fond de la zone de contenu */
}
