.settingsPage {
    display: flex;
    width: 100%;
    background-color: var(--color-app);
    color: var(--text-color);
    min-height: 100vh;
    margin-top: 5vh;
}

.settings {
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: var(--color-app);
}

.navs_settings {
    display: flex;
    flex-direction: column;
    width: 11.5%;
    background-color: var(--color-app);
    border-right: 1px solid var(--line-break); /* Ligne de séparation à droite */
    padding: 10px;
    margin-top: 8vh; /* Alignement avec la navbar */
}

.categories_settings {
    list-style: none;
    padding-left: 0.5vw;
}

.categories_settings li {
    display: flex;
    align-items: center;
    margin: 15px 0;
    color: var(--color-text);
    font-size: 13px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.categories_settings li:hover {
    background-color: var(--color-inside-box);
}

.categories_settings li.active {
    background-color: var(--nav-bar);
}

.content_area {
    flex: 1;
    padding: 20px;
    background-color: var(--color-app);
}

.icon {
    font-size: 10px;
    color: var(--primary-color);
    margin-right: 10px;
}
