.page {
    background-color: var(--color-app);
    transition: 0.25s ease-in-out;
}

.box {
    padding: 2%;
    background-color: var(--color-inside-box);
    color: var(--color-text);
    margin-top: 150px;
    border-radius: 10px;
    transition: 0.25s ease-in-out;

}

.list {
    margin: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    gap: 2%;
}

.list .Rating {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: blue;
    transition: 0.25s ease-in-out;

}

.row_element {
    margin-top: 5%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.Role {
    width: 40%;
    height: auto;
    background-color: azure;
}
