.inside_box {
    background: var(--color-inside-box);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
}


.movie_list {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    padding-bottom: 1rem;
    scrollbar-width: thin;
    scrollbar-color: #4a4a4a transparent;
}

.movie_list::-webkit-scrollbar {
    height: 5px;
}

.movie_list::-webkit-scrollbar-thumb {
    background: #4a4a4a;
    border-radius: 10px;
}


.movie_item {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: var(--color-text);
    margin-top: 0.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 15px 15px 0px 0px;
    align-items: center;
    transition: transform 0.25s ease-in-out;
}


.movie_item:hover {
    transform: scale(0.90);
    cursor: pointer;
}


.movie_title {
    display: none;
    margin-top: 10px;
    width: 10ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie_item img {
    width: 120px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}

.character_name {
    font-style: italic;
    color: var(--color-text);
}
