.inside_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50%;
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--color-box-shadow);
    background-color: var(--color-inside-box);
    color: var(--color-text-mode);
    padding: 2%;
    box-sizing: border-box;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: opacity 0.25s ease-in-out;

}

.movie_list {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width:auto;
}

.movie_list::-webkit-scrollbar {
    display: none;
}

.movie_item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-overflow: ellipsis;
    min-width: 150px;
    text-align: center;
    border-radius: 10px; /* Arrondi pour les éléments de film */
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.movie_item:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.movie_title {
    display: none;
    margin-top: 10px;
    width: 10ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie_item img {
    width: 100%;
    border-radius: 10px; /* Arrondi pour l'image */
}