@import "../../vars.css";

.page {
    background-color: var(--color-app);
    transition: 0.25s ease-in-out;
}

.inside_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 75vh;
    width: 95%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: var(--color-box-shadow);
    background-color: var(--color-inside-box);
    color: var(--color-text-mode);
    border: 0.5px solid var(--color-border);
    padding: 2%;
    box-sizing: border-box;
}
