:root {
    --color-text: #060d17;
    --color-app: #d8d4d4;
    --color-text-mode: #000000;
    --color-primary: #fecc00;
    --color-btn-hover: #676e75;
    --color-text-btn-hover: var(--color-text);
    --color-secondary: #e6c892;
    --color-dark: #f4dbb8;
    --color-input-bg: #565d688a;
    --color-btn: #535457;
    --color-bg: #fbead2;
    --color-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.75);
    --color-border: #1d1d1d;
    --color-box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    --color-inside-box: #8a96a3;
    --color-header-bg: var(--color-app);
    --color-about: #f3f3f366;
    --color-radiant1: #ff7e5f;
    --color-radiant2: #feb47b;
    --background-item: linear-gradient(
        90deg,
        rgba(236, 3, 186, 0.298) 0%,
        rgba(236, 3, 186, 0.05) 100%
    );

    --color-blur: #ec03ba4c;

    --font-robot: "Roboto";
    --font-outfit: "Outfit";
}

[data-theme="light"] {
    --line-break: #ececec;
    --button-newsletter: #ffffff;
    --footer-background-color : #fecc00;
    --filter-logo: brightness(0);
    --color-base: #fff;
    --nav-bar: #fecc00;
    --color-text: #060d17;
    --color-text-button: black;
    --color-text-btn-hover: var(--color-text);
    --color-app: #ffffff;
    --color-text-mode: #000000;
    --color-primary: #fecc00;
    --color-btn-hover: #adadad;
    --color-secondary: #e6c892;
    --color-search-bar: #ececec;
    --color-dark: #f4dbb8;
    --color-btn: #ececec;
    --color-input-bg: #ececec;
    --color-bg: #fbead2;
    --color-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.75);
    --color-border: #000000;
    --color-radiant1: #ff7e5f;
    --color-radiant2: #feb47b;
    --color-header-bg: #ffffff00;
    --color-box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    --color-inside-box: #ececec;
    --color-about: #f3f3f366;
    --background-item: linear-gradient(
        90deg,
        rgba(236, 3, 186, 0.298) 0%,
        rgba(236, 3, 186, 0.05) 100%
    );

    --color-blur: #ec03ba4c;

    --font-robot: "Roboto";
    --font-outfit: "Outfit";
}

[data-theme="dark"] {
    --line-break: #252a32;
    --button-newsletter: #fecc00;
    --footer-background-color: #060d17;
    --filter-logo: none;
    --color-base: #000;
    --nav-bar: #060d17;
    --color-text: #c6c8cd;
    --color-text-button: #000000;
    --color-text-btn-hover: #060d17;
    --color-app: #060d17;
    --color-text-mode: #ffffff;
    --color-primary: #576cbc;
    --color-btn-hover: #fecc00;
    --color-secondary: #19376d;
    --color-search-bar: #10161d;
    --color-dark: #0b2447;
    --color-btn: #111924;
    --color-radiant1: #5f97ff;
    --color-radiant2: #d47bfe;
    --color-input-bg: #8a919c80;
    --color-bg: #04152d;
    --color-header-bg: #060d1700;
    --color-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    --color-border: #000000;
    --color-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --color-inside-box: #10161d;

    --color-about: #0c0c0c99;
    --background-item: linear-gradient(
        90deg,
        rgba(165, 215, 232, 0.42) 0%,
        rgba(255, 255, 255, 0) 100%
    );

    --color-blur: #19376db3;
    --font-robot: "Roboto";
    --font-outfit: "Outfit";
}

@media (prefers-color-scheme: dark) {
    [data-theme="dark"] {
        --line-break: #252a32;
        --button-newsletter: #fecc00;
        --footer-background-color: #060d17;
        --filter-logo: none;
        --color-base: #000;
        --nav-bar: #060d17;
        --color-text: #c6c8cd;
        --color-text-button: #000000;
        --color-text-btn-hover: #060d17;
        --color-app: #060d17;
        --color-text-mode: #ffffff;
        --color-primary: #576cbc;
        --color-btn-hover: #fecc00;
        --color-secondary: #19376d;
        --color-search-bar: #10161d;
        --color-dark: #0b2447;
        --color-btn: #111924;
        --color-radiant1: #5f97ff;
        --color-radiant2: #d47bfe;
        --color-input-bg: #8a919c80;
        --color-bg: #04152d;
        --color-header-bg: #060d1700;
        --color-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
        --color-border: #000000;
        --color-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        --color-inside-box: #10161d;

        --color-about: #0c0c0c99;
        --background-item: linear-gradient(
            90deg,
            rgba(165, 215, 232, 0.42) 0%,
            rgba(255, 255, 255, 0) 100%
        );

        --color-blur: #19376db3;
        --font-robot: "Roboto";
        --font-outfit: "Outfit";
    }
}
