@import "../../vars.css";
@import "../animations/animation.css";

.header {
    height: 40vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    text-wrap: nowrap;
    margin-bottom: 5px;
    margin-top: 100px;
    background-color: var(--color-header-bg);
}

.Title {
    font-size: 10vh;
    font-family: var(--font-robot);
    color: var(--color-text);
    margin-bottom: 10vh;
}

.searchContainer {
    position: relative;
    border: 0.5px solid var(--color-border);
    display: flex;
    align-items: center;
    width: 90%;
    margin-bottom: 8vh;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color-search-bg);
    height: 90px;
}

.searchInput {
    flex: 1;
    padding: 10px;
    font-size: 25px;
    border: none;
    outline: none;
    background: transparent;
    color: var(--color-input-bg);
    opacity: 1;
    pointer-events: auto;
}

.searchButton {
    padding: 10px 40px;
    margin-right: 7px;
    font-size: 25px;
    background-color: var(--color-btn);
    color: var(--color-text);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: none;
}

.searchButton:hover {
    background-color: var(--color-btn-hover); /* Mise à jour avec la variable appropriée */
}

.searchButton:active {
    background-color: var(--color-btn); /* Mise à jour avec la variable appropriée */
    filter: brightness(0.8);
    transform: scale(0.9);
}

@media screen and (max-width: 1000px) {
    .header {
        height: 60vh;
        margin: 0px 1%;
        border-radius: 20px;
        background-color: var(--color-header-bg); /* Mise à jour avec la variable appropriée */
    }

    .Title {
        font-size: 10vh;
        margin-top: 10vh;
    }
}
