@import "../../../vars.css";

.footer_section_padding {
    padding: -4rem 4rem;
}

.footer_links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

/* Ajoute ces styles pour aligner les auteurs en ligne */
.footer_links_div ul {
    display: flex;
    list-style-type: none; /* Enlève les puces de la liste */
    padding: 0;
    margin: 0;
}

.footer_links_div li {
    margin-right: 2rem;
    display: flex;
    flex-direction: column; /* Pour que l'icône apparaisse sous le nom */
    align-items: center; /* Centre les éléments verticalement */
}

.footer_links_div p {
    cursor: pointer;
    position: relative;
    margin: 0;
    font-size: 1.2rem;
    color: var(--color-text);
}

.footer_links_div p::after {
    content: '';
    height: 1px;
    width: 0;
    background: #000000;
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer_links_div p:hover::after {
    width: 100%;
    background: var(--color-text);
}

.iconBox i {
    font-size: 1.5rem;
    margin-top: 0.5rem; /* Espace entre le nom et l'icône */
    color: var(--color-text);
}

.iconBox a:hover i {
    color: #0e76a8;
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}
