@import '../../../animations/animation.css';
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nexa+Bold&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nexa+Extra+Bold&display=swap');

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-app);
    border-radius: 15px;
    width: 100vw;
    height: 1300px; /* Ajustez cette hauteur si nécessaire */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: relative;
}

.box iframe {
    width: 100vw;
    height: 150%;
    border-radius: 15px;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.more_button {
    align-items: center;
    position: absolute;
    top: 55%; /* Ajustez cette position si nécessaire */
    left: 10%;
    width: 200px;
    height: 60px;
    background-color: #fecc00;
    color: var(--color-text-button);
    box-shadow: var(--color-box-shadow);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.7rem;
    border: none;
    z-index: 10;
    transition: background-color 0.25s ease-in-out, transform 0.25s ease-in-out;
    display: flex; /* Ajout de flexbox */
}

.button_text {
    font-family: 'Nexa Extra Bold', 'Nexa', 'Bebas Neue', sans-serif;
    margin-top: 5px; /* Ajustez cette valeur selon vos besoins */
    display: flex; /* Assurez-vous que cela fonctionne bien avec la flexbox */
    align-items: center; /* Aligne le texte au centre */
    font-size: 1.6rem;
}

.more_button .icon {
    margin-left: 1.4vw;
    margin-right: 0.9vw; /* Ajoute de l'espace entre l'icône et le texte */
    font-size: 1.8rem;
}

.more_button:hover {
    background-color: #ffdb00; /* Change la couleur de fond au survol */
    transform: scale(0.93);
}

.Title {
    font-family: 'Nexa Extra Bold', 'Nexa', 'Bebas Neue', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 60px;
    -webkit-text-stroke: 2px white; /* pour les navigateurs basés sur Webkit comme Chrome et Safari */
    max-width: 15ch; /* Limite la largeur maximum à 150 caractères */
    overflow-wrap: break-word; /* Permet au texte de passer à la ligne */
    z-index: 10;
    color: #FFFFFF;
    display: flex;
    background-size: 200% 200%;
    animation: moveGradient 3s ease infinite;
}

@media screen and (max-width: 600px) {
    .box {
        padding: 10px;
        max-width: 100%;
    }

    .box iframe {
        height: 250px;
    }

    .loading, .error, .no-trailer {
        font-size: 1rem;
    }
}
