@import "../../../vars.css";

/* Style par défaut des liens, y compris le soulignement */
.footer_links_div a, .footer_links_div p {
    font-size: 1rem;
    color: var(--color-text);
    cursor: pointer;
    text-decoration: underline;
    position: relative;
}

h4 {
    color: var(--color-text);
    font-size: 1.5rem;
    margin-bottom: 10px;
    cursor: default;
}

.footer_links_div a:hover, .footer_links_div p:hover {
    color: var(--color-text-mode);
}

.modal {
    margin-top: 20px;
}

.modal ul li a {
    color: var(--color-text);
}

.modal ul li a:hover {
    color: var(--color-text-mode);
}