.footer {
    background-color: var(--footer-background-color);
    padding: 40px 5vw;
    box-shadow: var(--color-box-shadow);
    border-top: 1px solid var(--color-border);
    margin-top: 250px !important;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footerSection {
    flex: 1;
    padding: 20px;
}

.footerCopyright {
    text-align: center;
    margin-top: 20px;
    color: var(--color-text-secondary);
}

@media (max-width: 768px) {
    .footerContainer {
        flex-direction: column;
        align-items: center;
    }

    .footerSection {
        justify-content: center;
        text-align: center;
    }
}