.box {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main_box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--color-app);
    box-shadow: var(--color-box-shadow);
    padding: 2%;
    box-sizing: border-box;
    position: relative;
}

.title_box {
    margin-top: 0.5%;
    margin-left: 2.5%;
    margin-bottom: 5%;
    font-size: 4vh;
    color: var(--color-text-mode);
}

.categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 1%;
}

.categories .movies,
.categories .series {
    margin-left: 2%;
    height: 3vh;
    width: 8vw;
    font-size: 1.5vh;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-btn);
    color: var(--color-text);
    cursor: pointer;
}

.categories .movies:hover,
.categories .series:hover {
    background-color: var(--color-btn-hover);
}

.inside_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    margin: auto;
    overflow: hidden; /* Cache le scroll pour créer l'effet carrousel */
    border-radius: 10px;
    box-shadow: var(--color-box-shadow);
    background-color: var(--color-inside-box);
    color: var(--color-text-mode);
    padding: 2%;
    box-sizing: border-box;
}

.movie_list {
    display: flex;
    gap: 1rem;
    overflow-x: auto; /* Permet le défilement horizontal pour créer un effet de carrousel */
    scroll-behavior: smooth; /* Pour que le scroll soit fluide */
    scrollbar-width: none; /* Cache la scrollbar sur Firefox */
}

.movie_list::-webkit-scrollbar {
    display: none; /* Cache la scrollbar sur les navigateurs Webkit */
}

.movie_item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 200px; /* Taille fixe pour que les affiches soient carrées */
    height: 300px; /* Ajuste la hauteur pour correspondre aux proportions d'une affiche de film */
    text-align: center;
    border-radius: 10px;
    background-color: var(--color-box-item);
}

.movie_title {
    margin-top: 10px;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
}

.release_date {
    font-size: 0.9rem;
    margin-top: 5px;
    color: var(--color-text-secondary);
}

.movie_item img {
    width: 100%;
    height: 80%;
    object-fit: cover; /* Rend l'image centrée et coupe les bords si nécessaire pour remplir le carré */
    border-radius: 10px;
}

.carousel_controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel_button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--color-btn);
}
