.box {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main_box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--color-app);
    box-shadow: var(--color-box-shadow);
    padding: 2%;
    box-sizing: border-box;
    position: relative;
}

.title_box {
    margin-top: 0.5%;
    margin-left: 2.5%;
    margin-bottom: 5%;
    font-size: 4vh;
    color: var(--color-text-mode);
}

.categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 1%;
}

.categories .movies,
.categories .series {
    margin-left: 2%;
    height: 3vh;
    width: 8vw;
    font-size: 1.5vh;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-btn);
    color: var(--color-text);
    cursor: pointer;
}

.categories .movies:hover,
.categories .series:hover {
    background-color: var(--color-btn-hover);
}

.inside_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80.5%;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    box-shadow: var(--color-box-shadow);
    background-color: var(--color-inside-box);
    color: var(--color-text-mode);
    /* border: 0.5px solid var(--color-border); */
    padding: 2%;
    box-sizing: border-box;
}
