@import '../../animations/animation.css';

.box {
    background-color: var(--color-app);
    box-shadow: var(--color-box-shadow);
    display: flex;
    justify-content: flex-start;
    padding: 2%;
    color: var(--color-text);
    flex-direction: row;
    margin-bottom: 2%;
    transition: all 0.3s ease-in-out;
    position: relative;
    flex-wrap: wrap;
    border-radius: 15px;
}

.divleft {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.divright {
    width: 70%;
    height: auto;
}

.ReleaseDate {
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: var(--color-text);
    margin: 20px 0;
}

.myrow {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.RatingTitle {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--color-text);
}

.Ratings {
    width: 150%;
    height: 15px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    overflow: hidden;
    font-size: 10px;
}

.RatingValue {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    border-radius: 25px;
    transition: width 0.5s ease;
    background: linear-gradient(90deg, var(--color-radiant1), var(--color-radiant2));
    width: 0;
    color: #fff;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

@keyframes load {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.mycolumn {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Title,
.TitleMobile {
    font-size: 80px;
    margin-top: 50px;
    margin-left: 2%;
    margin-bottom: 50px;
    background: linear-gradient(90deg, white, rgb(0, 0, 0));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: flex;
    background-size: 200% 200%;
    animation: moveGradient 3s ease infinite;
}

.separator {
    width: 90%;
    height: 1px;
    background-color: var(--line-break);
}

.sectionDivider {
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    border-top: 1px solid var(--line-break);
    width: 90%;
}


@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.TitleMobile {
    display: none;
}

.original_title {
    font-size: 20px;
}

.released {
    font-size: 20px;
}

.Resume {
    margin-top: 10px;
    font-size: 30px;
    margin-left: 2%;
}

.Genres {
    font-size: 20px;
    justify-content: center;
}

.picture {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    min-width: 100px;
    min-height: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;

}

.picture:hover {
    transform: scale(0.97);
}

.picture img {
    width: 150%;
    height: auto;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    z-index: 1;
}

.picture::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
    pointer-events: none;
}

.picture:hover::after {
    opacity: 1;
}

.picture::before {
    content: 'Show More';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2rem;
    opacity: 0;
    z-index: 3;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.picture:hover::before {
    opacity: 1;
}

.Trailers {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.Roles {
    margin-top: 2%;
    transition: opacity 0.25s ease-in-out;
}

.RoleTitle {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 2%;
    background: linear-gradient(90deg, white, rgb(0, 0, 0));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: flex;
    background-size: 200% 200%;
    animation: moveGradient 3s ease infinite;
}

@media screen and (max-width: 900px) {

    .divleft,
    .divright {
        width: 100%;
        padding: 1%;
        margin: 0;
    }

    .Runtime {
        font-size: 18px;
    }

    .box {
        border-radius: 20px;
    }

    .original_title {
        font-size: 18px;
    }

    .TitleMobile {
        font-size: 35px;
        margin-top: 20px;
        display: flex;
    }

    .Title {
        display: none;
    }

    .Resume {
        font-size: 22px;
        margin-top: 20px;
        margin-left: 0;
    }

    .Genres {
        font-size: 18px;
    }

    .Ratings {
        width: 60px;
        height: 60px;
        font-size: 18px;
    }

    .picture {
        width: 100%;
        margin-top: 20px;
        height: auto;
        margin-bottom: 15px;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .TitleMobile {
        font-size: 35px;
    }
}